<div class="login-box panel panel-default" >    
    <div class="panel-body">
      <div class="image-wrapper text-center">
        <img src="img/logo.png" alt="Logo">
      </div>
      <div class="form-wrapper">
        <div class="input-box has-feedback">
          <input required="true" class="form-control round username" type="text" autocomplete="off" id="username101" placeholder="Username">
          <span class="fa fa-user-circle-o form-control-feedback"></span>
        </div>
        <div class="input-box has-feedback">
          <input required="true" class="form-control round" type="password" autocomplete="off" id="password" placeholder="Password">
          <span class="fa fa-key form-control-feedback"></span>
        </div>
        <div class="input-box">
          <input required="true" class="form-control round btn btn-success" type="submit" autocomplete="off" id="username101" placeholder="Username">
        </div>
        <div class="footer-wrapper">
          <span class="link">Create Account</span>
          <span class="link pull-right">Help?</span>
        </div>
      </div>
    </div>
  </div>